parameters:
	ignoreErrors:
		- '#Access to an undefined property BEAR\\Resource\\Request::\$__invalid__#'
	excludes_analyse:
		- '%currentWorkingDirectory%/tests/tmp/*'
		- '%currentWorkingDirectory%/tests/Fake/*'
