parameters:
  level: max
  paths:
    - src
    - tests
  excludePaths:
    - '%currentWorkingDirectory%/tests/tmp/*'
    - '%currentWorkingDirectory%/tests/Module/tmp/*'
    - '%currentWorkingDirectory%/tests/Fake/*'
